/*   --------FONTS-------   */
$font-primary    				: 'Tahoma'
$font-primary-bold 			: 'Tahoma-Bold'
$font-header     				: 'Impact', arial
$font-button     				: 'Bebas', arial

/*   --------COLORS-TEXT-------   */
$color-text        			: #989696
$color-text-buttons     : #929292
$color-text-links       : #426c89
$color-text-header      : #6a93b2
$color-text-sidebar     : #426c89
$color-text-item-header : #99c12d
$color-text-cart        : #f5f8fd

$color-item-price-title : #8ab3d0
$color-item-price-value : #336083

/*   --------COLORS-ITEMS-------   */
$color-bg-arrow 				: #f7f9fd

$color-shadow-primary   : #cee0f4

/*   --------GRADIENTS-------   */

$gradien-menu           : linear-gradient(to bottom, from #003359, to #006d94 ) 
$gradient-logo          : linear-gradient(to bottom, from #51ac00, to #95c200 ) 
$gradient-item 		      : linear-gradient(to bottom, from #d7e6f8, to #ecf2fb )
$gradient-sidebar       : linear-gradient(to bottom, from #f0f5fc, to #f7f9fd )
$gradient-sidebar-sub   : linear-gradient(to bottom, from #375d7b, to #6693ad )
$gradient-footer-menu   : linear-gradient(to bottom, from #1e486e, to #295980 )
$gradient-border-item-header : linear-gradient(to bottom, from #c4dbf2, to #f5f8fd )

/*   --------SIZES-------   */
$fs-logo                : 16px
$fs-logo-sub    				: 8px
$fs-item-title   				: 11px
$fs-menu                : 10px
$fs-btn                 : 10px
$fs-text								: 10px
$fs-item-price          : 18px
$fs-primary             : 10px