footer.footer
	nav.nav
		ul.nav-menu
			+nav-link({name: 'Homepage', href: '#'})
			+nav-link({name: 'Browse All', href: '#'})
			+nav-link({name: 'Search', href: '#'})
			+nav-link({name: 'Support', href: '#'})
			+nav-link({name: 'Contact Us', href: '#'})
	.copyright
		p Copyright (c) 2005 ComputerStore.com. All rights reserved.