//- .wrapper
//- 	section.dashboard
//- 		.container
//- 			.row
//- 				.col
//- 			.row
//- 				.col
//- 					+block_table({title: 'Recent Sales', subtitle: 'Sales on products we have'})
//- 				.col
//- 					+block_table({title: 'Sales Executives', subtitle: 'Sales on products we have'})
				